[Unit]
Description=keybow-helper-service
After=network.target

[Service]
ExecStart=/opt/keybow/key-colors
WorkingDirectory=/opt/keybow
StandardOutput=inherit
StandardError=inherit
Restart=no
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target