[Unit]
Description=keybow-helper-service
After=network.target

[Service]
ExecStart=/opt/keybow/key-colors
WorkingDirectory=/opt/keybow
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target